* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* ===============================layout============================================= */
html, body, .wraper{
	margin: 0;
}
.wraper{
	position: relative;
}
body{
	font-family: Lato;
	position:relative;
}
#welcome,#filmo,#addFilm,#delete,#error,#login,#quizzs,#admin{
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer{
	text-align: center;
	padding-top: 20px;
	width: 100%;
}
/* ===================home============================ */
.top{
	background: url("../img/films/bg.jpg") #444 no-repeat;/**./../img/background.png**/
	background-size:cover;
	width: 100%;
	padding-top: 10px;
}
.intro{
	padding: 0 50px;
}
.main{
	position: relative;
	margin:0 auto;
	max-width: 1024px;
}
.main a{
	position: absolute;
	right: 0;
	bottom: 0;
}
.main .intro{
	width: 70%;
}
#home_slideshow{
	border-radius: 5px;
	box-shadow: 0px 5px 10px black;
	max-width: 800px;
	height: 400px;
	margin:0 auto;
	overflow: hidden;
}
.biggest{
	font-size: 3.5em;
	color: #fff;
	font-family: Averia;
}
.top .title{
	font-size: 2em;
	text-align: center;
	background-color: rgba(124, 124, 124, 0.5);
}

/** ================================la filmographie============================= */
.film{
	padding-top: 20px;
	margin-top: 10px;
}
.vertical-text {
	transform: rotate(-90deg);
	text-align: left;
	margin-left: 10px;
}
.year{
	height: 100%;
	padding-top: 60px;
}
.poster img{
	max-width: 100%;
}
.rate{
	margin-top: 20px;
	text-align: center;
}
#filmo .title{
	font-size: 30px;
	text-align: left;
}
#filmo hr{
	size: 80%;
}

.description{
	min-height: 100px;
	width: 80%;
}
.fullDesc{
	padding: 0;
	margin: 0;
}

.adminEdit{
	height: 80px;
	padding-top: 30px;
	padding-left: 50px;
	margin: 0;
}
.adminEdit a{
	margin-right: 20px;
}

/* ===========================login================== */
#login{
	padding-top: 100px;
	background: #555;
	height: 100%;
}
.formContainer{
	margin: 0 auto;
	max-width: 996px;
	height: 200px;
	background: #ccc;
	border-radius: 10px;
	padding: 0 50px;
	padding-top: 70px;
	padding-left: 11%;
}
table,td{
	padding-left: 20px;
}
.adminTable{
	max-width: 600px;
	margin: 50px auto;
}
/* ========================addfilm=============================== */
#addFilm{
	
	background: #555;

}
.filmEdit{
	padding-top: 50px;
	max-width: 996px;
	margin: 0 auto;
	color: #000;
	margin-bottom: 50px;
}
.filmEdit .poster{
	width: 100%;
}
.filmEdit .poster img{
	width: 50%;
}
.filmEdit .poster img .right{
	float: right;
}

/* ================================delete======================== */
#delete{
	height: 100%;
	background: #555;
}
.filmDel{
	padding-top: 50px;
	max-width: 996px;
	margin: 0 auto;
	color: #000;
}
/* ================================quizz======================== */
#quizzs{
	background: #ccc;
}
.quizzRow{
	width: 100%;
	padding:50px;
}
.quizzContainer{
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
}
.quizzHeader{
	color: #000;
	background: #ffc715;
	text-align:center;
	padding: 5px;
}
.quizzQuestionContainer{
	background: #fff;
	padding:10px;
}