* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, .wraper{
	height: 100%;
	margin: 0;
}
.wraper{
	position: relative;
}
body{
	font-family: Lato;
	position:relative;
}
.top{
	background: url("https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-2.jpg") #444;/**./../img/background.png**/
	width: 100%;
	padding-top: 10px;
}
#welcome,#filmo{
	margin-top: 50px;
}
.intro{
	padding: 0 50px;
}
.film{
	padding-top: 20px;
	margin-top: 10px;
	max-height: 500px;
}
/** la filmographie */
.vertical-text {
	transform: rotate(-90deg);
	text-align: left;
	margin-left: 10px;
}
.year{
	height: 100%;
	padding-top: 60px;
	background: pink;
}
.poster img{
	max-width: 100%;
}
.rate{
	margin-top: 20px;
}
.footer{
	position: absolute;
	bottom: 0px;
	text-align: center;
	height: 80px;
	line-height: 30px;
	background: #222;
	color: #fff;
	width: 100%;
}

.main{
	position: relative;
	margin:0 auto;
	max-width: 1024px;
}
.main a{
	position: absolute;
	right: 0;
	bottom: 0;
}
.main .intro{
	width: 70%;
}
#home_slideshow{
	border-radius: 5px;
	box-shadow: 0px 5px 10px black;
	max-width: 800px;
	height: 400px;
	margin:0 auto;
	overflow: hidden;
}
span.biggest,.title{
	font-family: Averia;
}
.biggest{
	color: #fff;
}
.title{
	font-size: 80px;
	text-align: center;
}
#filmo .title{
	font-size: 30px;
	text-align: left;
}
#filmo hr{
	size: 80%;
}
.description{
	width: 80%;
}
